.form {
  width: 540px;
  height: 464px;
  border-radius: 25px;
  background-color: #fff;
}

.form__header {
  padding: 34px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e1e1;
}

.form__header_title {
  color: #161932;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form__row {
  padding: 24px 0px;
  border-bottom: 1px solid rgba(22, 25, 50, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form__row_inner {
  display: flex;
  gap: 16px;
}

.form__container {
  padding: 0px 40px;
}

.form__row_title {
  color: #161932;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
}
